@import 'tailwindcss';
@theme {
  --color-strange: rgb(137.9901185771, 70.004743083, 32.3098814229);
  --color-unusual: rgb(87.8976190476, 52.4761904762, 112.8238095238);
  --color-genuine: rgb(42.4098445596, 63.8901554404, 46.8160621762);
  --color-vintage: rgb(42.5013888889, 58.6638888889, 86.7986111111);
  --color-collectors: rgb(95.3, 0, 0);
}

button:not(:disabled) {
  cursor: pointer;
}

h1,
h2,
h3 {
  @apply my-2 text-center font-medium;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

input:not(.custom-input),
select:not(.custom-select) {
  @apply rounded-md border-2 border-sky-500 bg-sky-200 px-1 py-0.5 focus:outline-sky-700;
}
